/* 
Color Palet:

Black	  - #000000
White	  - #ffffff
Grey      - #7a7a7a
Green	  - #008000
Brown	  -
Maroon	  - #900000
Blue	  -
Yellow		
*/


/* back to top */


/* CSS */
h4{
	color:#008000;
}

div.content{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	padding-top:40px;
}

.logo {
	height:48px;
	width: 121px;
	background:url('../img/logo3.png') no-repeat;
	float: left;
	margin-top:5px;
	margin-right:50px;
	margin-left:20px;
	margin-bottom:5px;
	
}

/*
.logo {
	height:50px;
	width: 308px;
	background:url('../img/logo3.png') no-repeat;
	float: left;
	margin-right:20px;
	margin-left:5px;
	
}

*/

/* Footer */
img.ft{
	width:5%;
	opacity:1.0;filter:alpha(opacity=100);
	width:30px;
}

img:hover.ft{
	width:5%;
	opacity:0.4;
	filter:alpha(opacity=40); 
	width:30px;
	cursor:hand;
}


 footer{
	padding-top:1px;
}


/* Button */
  button.small, .button.small {
    padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
    font-size: 24px; 
	background-color: #3cac00;
	color: #FFFFFF;
	}


button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  transition: background-color 300ms ease-out; 
  }
  
  
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #066308;
	color: #FFFFFF;
}

/* Home */

img.home{
	width:360px;
	height:320px;
}


/* What's a TCK */

.panel-heading1{
	font-size:18px;
	background-color:#3cac00;
	color:#ffffff;
	padding:10px 15px;
	border-bottom:1px solid transparent;
}

.panel-heading1>.dropdown .dropdown-toggle{color:#ffffff;}
 
/* News */
 h3.Maroon{
	color:#900000;
}

img.Nimg{
	width:70%;
	border: 1px solid rgb(224, 224, 224); 
	padding:5px;
	overflow:hidden;
}

img.Nimg1{
	width:40%;
	border: 1px solid rgb(224, 224, 224); 
	padding:5px;
	overflow:hidden;
}

/* picture_gallery_hover */



/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1024px) {
  .container {
    width: 970px;
  }	
  
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/* Blog posts */

.blog-post {
  margin-bottom: 50px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/* Book */
img.Book{
	width:50%;
	padding:5px;
	float:left;
	margin-right:20px;
}

/* About */
img.Team{
	width:25%;
	border: 1px solid rgb(224, 224, 224); 
	padding:6px;
	overflow:hidden;
	margin-right:20px;
	margin-bottom:10px;
	float:left;
}

.panel-headingW{
	font-size:18px;
	color:#ffffff;
	padding:10px 15px;
	border-bottom:1px solid transparent;
}

.panel-headingW>.dropdown .dropdown-toggle{color:inherit}

.panel-title1{margin-top:0;margin-bottom:0;font-size:16px;color:#ffffff}
.panel-title1>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a{color:#ffffff}
 
 

/* Contact */
.circle{
	border-radius:50%;
	width:50%;
	height:50%;
}

/* CCK */
frame.vtck{
	width:150%;
	height:150%;
}